html{
    background: #212121;
  }
  
body{
    font-family: 'Source Code Pro', monospace;
    background: #212121;
    color: #52575d;
  }


  .text-display{
    margin: 0 0 22px 0;
    font-size: 21px;
    text-align: left;
    min-height: 200px;
  }


  .center{
    text-align: center;
  }

  .details{
    font-size: 80px;
  }